body {
  font-family: "Urbanist", sans-serif;
  display: grid;
  font-size: 200%;
  background-color: #ffffff;
}

p {
  text-align: center;
}

a {
  color: #1446a0;
  text-decoration: none;
  border-bottom: 1px solid #1446a0;
}

@media (min-width: 600px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}
